allow installd location_app_data_file:dir { relabelto create_dir_perms };
allow installd location_app_data_file:lnk_file create_file_perms;

#wangyanhui add for app moveto sdcard(app icon is wrong)
allow installd vfat:dir search;
allow installd vfat:file getattr;

