# fm_radio app needes  open read write on fm_radio_device
allow system_app fm_radio_device:chr_file { read open ioctl};
allow system_app fm_prop:property_service set;
allow system_app ctl_default_prop:property_service set;
allow system_app atfwd_service:service_manager add;
allow system_app dun_service:service_manager add;
allow system_app gesture_service:service_manager add;

#write to properties
allow system_app camera_prop:property_service set;
allow system_app power_prop:property_service set;

# access to perflock
allow system_app mpctl_socket:dir r_dir_perms;
unix_socket_send(system_app, mpctl, mpdecision)
unix_socket_connect(system_app, mpctl, mpdecision)
allow system_app dpmservice:service_manager add;
unix_socket_send(system_app, mpctl, perfd)
unix_socket_connect(system_app, mpctl, perfd)

# access to mm-pp-daemon
unix_socket_connect(system_app, pps, mm-pp-daemon)

allow system_app cne_service:service_manager add;

userdebug_or_eng(`
  allow system_app debugfs:file r_file_perms;
  allow system_app su:unix_dgram_socket sendto;
')
allow system_app sysfs_flashlight:file rw_file_perms;
allow system_app cnd_data_file:dir w_dir_perms;
allow system_app cnd_data_file:file create_file_perms;
allow system_app bluetooth:unix_stream_socket ioctl;

#wangyanhui add Define the sysfs files for led
allow system_app sysfs_torch-light:file rw_file_perms;

# access to tee domain
allow system_app tee:unix_dgram_socket sendto;

# access to time_daemon
allow system_app time_daemon:unix_stream_socket connectto;

# access to color service SDK
allow system_app color_service:service_manager add;

# system app to access DTS data files
allow system_app dts_data_file:dir r_dir_perms;
allow system_app dts_data_file:file r_file_perms;

# access to firmware file
userdebug_or_eng(`
  r_dir_file(system_app, firmware_file);
')

allow system_app sysfs_gesture:file rw_file_perms;

# LINE <ota> <DATA20150521> <tinno ota> limi.zhang
allow system_app cache_file:dir create_dir_perms;
allow system_app cache_file:file create_file_perms;

#add poliy for persist file permissons by huiyong.yin 20150416
allow system_app persist_file:dir search;
allow system_app persist_file:dir w_dir_perms;
allow system_app persist_file:file { read write open };
allow system_app persist_file:file create_file_perms;
allow system_app persist_file:file rw_file_perms;

#yangliang add for smartPA two tests by dail panel 20150427
allow system_app audio_device:dir search; 
allow system_app audio_device:chr_file *; 


#wangyanhui add for app moveto sdcard(app icon is wrong)
allow system_app asec_apk_file:file getattr;
allow system_app asec_apk_file:file read;
allow system_app asec_apk_file:file open;
